.friend-container {
  width: 100vw;
  height: 100vh;
  background: var(--dark-grey-color);
  padding: 24px;
}

.friend-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend-details-text {
  font-size: 24px;
  font-weight: 700;
  color: var(--accent-color);
}

.friend-details-description {
  color: var(--accent-color);
  width: clamp(100px, 80%, 70vw);
  margin: 0 auto;
}

.friend-details-profile {
  width: 320px;
  aspect-ratio: 1;
}
