.title {
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-color);
}

.friends-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.friend-item {
  list-style: none;
}

.friend-card {
  padding: 16px 0px;
  width: 200px;
  height: 200px;
  background-color: var(--dark-grey-color);
  margin-bottom: 12px;
  color: var(--primary-color);
  border-radius: 10px;
}

.friend-profile {
  width: 120px;
  aspect-ratio: 1;
}

.friend-name {
  color: var(--accent-color);
}
