:root {
  --primary-color: #ef6c00;
  --secondary-color: #22262d;
  --accent-color: #fafaf9;
  --dark-grey-color: #33343b;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  all: unset;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--secondary-color);
}
